<h1> Account Info </h1>
<h2> <%= "#{current_user.email}" %> </h2>
<h3> <%= "Account Type: #{current_user.role}" %> </h3>

<div class = "col-md-16">
  <div class = "col-md-16">
    <%= link_to "Edit profile", edit_user_registration_path, :class => 'navbar-link' %> -
    <%= link_to "register new application", new_registered_application_path, :class => 'navbar-link' %>
  </div>

  <div class = "col-md-16">
    <%= render @applets %>
  </div>
</div>
